*{
    margin: 0;
    background-color: #a3a2a2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin: 5rem;
}
.container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
input{
    background-color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    outline: none;
    border: none;
    border-radius: 13px;
}
button{
    margin-top: 1rem;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #a3a2a2;
    box-shadow:  13px 13px 26px #828282,
                 -13px -13px 26px #c4c2c2;
    text-align: center;
    color: white;
}
button:hover{
    border-radius: 50px;
    background: #a3a2a2;
    box-shadow:  inset -13px 13px 26px #828282,
                 inset 13px -13px 26px #c4c2c2;
    cursor: pointer;
}
.btn{
    margin-left: 2rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: white;
}

th {
    background-color: #f2f2f2;
    color: #a3a2a2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
